<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>72463339212-1gi6c0a2n9lp5kvfco4tv4e01c1unjmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72463339212-1gi6c0a2n9lp5kvfco4tv4e01c1unjmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBusezwDJzwZFLW-dVOMtxnpxQDjONG_4U</string>
	<key>GCM_SENDER_ID</key>
	<string>72463339212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadenstaker.Tidbits1</string>
	<key>PROJECT_ID</key>
	<string>tidbits-a61c5</string>
	<key>STORAGE_BUCKET</key>
	<string>tidbits-a61c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:72463339212:ios:489682fbaf3e1ff4</string>
	<key>DATABASE_URL</key>
	<string>https://tidbits-a61c5.firebaseio.com</string>
	<key>IS_MEASUREMENT_ENABLED</key>
	<true/>
	<key>FIRAnalyticsDebugEnabled</key>
	<false/>
</dict>
</plist>
